
@font-face {
    font-family: 'Yeongwol';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2507-2@1.0/YeongwolTTF-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
    

body {
    background-color: #1a1a1a;
    margin: 0;
}

h1 {
    color: whitesmoke;
    font-size: 100px;
    text-align: center;
    font-family: 'Yeongwol', sans-serif;
    display : flex;
    justify-content : center;
    align-items : center;
    height : 80vh;

}

a {
    display: block;
    font-size: 30px;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-family: 'Yeongwol', sans-serif;
}